asgiref==3.11.0
certifi==2026.1.4
cffi==2.0.0
charset-normalizer==3.4.4
cryptography==46.0.3
dj-database-url==3.1.2
Django==5.2.10
django-storages==1.14.6
google-api-core==2.29.0
google-auth==2.48.0rc0
google-cloud-core==2.5.0
google-cloud-storage==2.19.0
google-crc32c==1.8.0
google-resumable-media==2.8.0
googleapis-common-protos==1.72.0
gunicorn==22.0.0
idna==3.11
packaging==26.0
proto-plus==1.27.0
protobuf==6.33.4
psycopg2-binary==2.9.12
pyasn1==0.6.2
pyasn1_modules==0.4.2
pycparser==3.0
requests==2.32.5
rsa==4.9.1
sqlparse==0.5.5
urllib3==2.6.3
whitenoise==6.7.0
